<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Productos</title>
</head>
<body>
    <h1>Catálogo de Productos</h1>
    
    <!-- Paginación y Filtros -->
    <div>
        <form action="/products" method="get">
            <label for="limit">Límite:</label>
            <input type="number" id="limit" name="limit" value="{{limit}}" min="1" />

            <label for="page">Página:</label>
            <input type="number" id="page" name="page" value="{{page}}" min="1" />

            <label for="sort">Ordenar por Precio:</label>
            <select id="sort" name="sort">
                <option value="">Sin Orden</option>
                <option value="asc" {{#if (eq sort "asc")}}selected{{/if}}>Ascendente</option>
                <option value="desc" {{#if (eq sort "desc")}}selected{{/if}}>Descendente</option>
            </select>

            <label for="query">Categoría:</label>
            <select id="query" name="query">
                <option value="">Todas las Categorías</option>
                <option value="Categoría A" {{#if (eq query "Categoría A")}}selected{{/if}}>Categoría A</option>
                <option value="Categoría B" {{#if (eq query "Categoría B")}}selected{{/if}}>Categoría B</option>
                <option value="Categoría C" {{#if (eq query "Categoría C")}}selected{{/if}}>Categoría C</option>
            </select>

            <button type="submit">Aplicar Filtros</button>
        </form>
    </div>

    <!-- Lista de Productos -->
    <div id="productContainer">
        <ul class="productList simple">
            {{#each products}}
            <li class="product-item">
                <div class="product-info">
                    <a href="/products/{{this._id}}">
                        <h2 class="product-title">{{this.title}}</h2>
                    </a>
                    <p class="product-price">Precio: ${{this.price}}</p>
                    <p class="product-description">{{this.description}}</p>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>

    <!-- Paginación -->
    <div>
        {{#if hasPrevPage}}
            <a href="/products?limit={{limit}}&page={{prevPage}}&sort={{sort}}&query={{query}}">Página Anterior</a>
        {{/if}}
        Página {{page}} de {{totalPages}}
        {{#if hasNextPage}}
            <a href="/products?limit={{limit}}&page={{nextPage}}&sort={{sort}}&query={{query}}">Página Siguiente</a>
        {{/if}}
    </div>
</body>
</html>
